<html>
    <head>
        <meta charset="utf8"/>
        <title>NFL Home</title>
    </head>
    <body>
        <h1>Roster's performance in various teams</h1>
        {% if flag == False %}
        <form action="/handle_func2" method="POST">
            <p>Choose 5 teams you want to check:</p>
            {% for d in team_list %}
                <input type="checkbox" value="{{d}}" name=team>{{d}}<br/>
            {% endfor %} 
            <input type="submit" value="submit Form"/>
        </form>
        <p><a href="/">GO BACK</a></p>
        {% else %}
        <p>Results: </p>
                <img src="{{url_for('static', filename=graph)}}" alt="bar plot of team's rosters' performance">
        <p><a href="/func2">GO BACK</a></p>
        {% endif %}
    </body>
</html>