<html>
    <head>
        <meta charset="utf8"/>
        <title>NFL Home</title>
    </head>
    <body>
        <h1>Schedule</h1>
        {% if flag == False %}

        <form action="/handle_func5" method="POST">
            <p>Which team's schedule you want to check?</p>
                <select name="team">
                    {% for d in team_list %}
                        <option value="{{d}}">{{d}}</option>
                    {% endfor %}            
                </select>            
            <input type="submit" value="submit Form"/>
        </form>
        <p><a href="/">GO BACK</a></p>
        {% else %}
        <p>Results: </p>
            <table>
                <tr>
                    {% for header in headers %}
                        <th>{{header}}</th>
                    {% endfor %}
                </tr>
                {% for row in data %}
                <tr>
                    {% for cell in row %}
                        <td>{{cell}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        <p><a href="/func5">GO BACK</a></p>
        {% endif %}
    </body>
</html>