<html>
    <head>
        <meta charset="utf8"/>
        <title>NFL Home</title>
    </head>
    <body>
        <p>Welcome to NFL</p>
        <p>Choose a type of information:</p>
        <ul>
            <li><a href='/func1'>Roster's performance in one team</a></li>
            <li><a href='/func2'>Roster's performance in various teams</a></li>
            <li><a href='/func3'>Team's performance comparison</a></li>
            <li><a href='/func4'>A team's performance history</a></li>
            <li><a href='/func5'>A team's Schedule</a></li>
        </ul>
    </body>
</html>