<html>
    <head>
        <meta charset="utf8"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/html5reset.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style38.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Patrick+Hand&display=swap" rel="stylesheet">    
        <title>NFL Home</title>
    </head>
    <body>
        <h1>Welcome to NFL</h1>
        <h2>Choose a type of information:</h2>
        <table class="Schedule" id="choices">
            <tr><td><a href='/func1'>Roster's performance in one team</a></td></tr>
            <tr><td><a href='/func2'>Roster's performance in various teams</a></td></tr>
            <tr><td><a href='/func3'>Team's performance comparison</a></td></tr>
            <tr><td><a href='/func4'>A team's performance history</a></td></tr>
            <tr><td><a href='/func5'>A team's Schedule</a></td></tr>
        </table>
        <!-- <ul class="choices">
            <li class="function"><a href='/func1'>Roster's performance in one team</a></li>
            <li class="function"><a href='/func2'>Roster's performance in various teams</a></li>
            <li class="function"><a href='/func3'>Team's performance comparison</a></li>
            <li class="function"><a href='/func4'>A team's performance history</a></li>
            <li class="function"><a href='/func5'>A team's Schedule</a></li>
        </ul> -->
    </body>
</html>